.paymentPage {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
}

.pageLoader {
    display: flex;
    justify-content: center;
    margin-top: -5px;
    align-items: center;
    height: 100vh;
}

@media (max-width: 360px) {
    .paymentPage {
        justify-content: left;
    }
}
