.app.dark {
    --bg-collor: #313533;
    --inverted-bg-collor: #f1f3f6;
    --primary-color: #cecece;
    --secondary-color: #afafaf;
    --inverted-primary-color: #cecece;
    --inverted-secondary-color: #727272;
    --btn-primary-color: #530fce;
    --btn-secondary-color: #5b5b5b;
    --bs-inv-blue: #c2c2c7;
    --bs-inv-gray-100: #e3e2e2;
    --bs-gray-800: #f6f6f6;
    --bs-inv-gray-800: #343a40;
    --bs-inv-gray-900: #212529;
    --bs-inv-gray-600: #74788d;
}
