.app.dark {
    --bg-collor: #313131;
    --inverted-bg-collor: #dcdadc;
    --primary-color: #cecece;
    --secondary-color: #afafaf;
    --inverted-primary-color: #cecece;
    --inverted-secondary-color: #727272;
    --btn-primary-color: #530fce;
    --btn-secondary-color: #5b5b5b;
}
