.app.light {
    --bg-collor: #dadada;
    --inverted-bg-collor: #313131;
    --primary-color: #383838;
    --secondary-color: #727272;
    --inverted-primary-color: #dadada;
    --inverted-secondary-color: #cecece;
    --btn-primary-color: #530fce;
    --btn-secondary-color: #5b5b5b;
}
