:root {
    --bs-blue: #5156be;
    --bs-inv-blue: #5156be;
    --bs-indigo: #564ab1;
    --bs-purple: #6f42c1;
    --bs-red: #fd625e;
    --bs-orange: #f1734f;
    --bs-yellow: #ffbf53;
    --bs-green: #2ab57d;
    --bs-teal: #050505;
    --bs-cyan: #4ba6ef;
    --bs-white: #fff;
    --bs-gray: #74788d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-inv-gray-100: #495057;
    --bs-gray-200: #e9e9ef;
    --bs-gray-300: #f6f6f6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #74788d;
    --bs-inv-gray-600: #dcdbdb;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-inv-gray-800: #fff;
    --bs-gray-900: #212529;
    --bs-inv-gray-900: #eeeff1;
    --bs-primary: #5156be;
    --bs-secondary: #74788d;
    --bs-success: #2ab57d;
    --bs-info: #4ba6ef;
    --bs-warning: #ffbf53;
    --bs-danger: #fd625e;
    --bs-pink: #e83e8c;
    --bs-light: #e9e9ef;
    --bs-dark: #343a40;
    --bs-primary-rgb: 81, 86, 190;
    --bs-secondary-rgb: 116, 120, 141;
    --bs-success-rgb: 42, 181, 125;
    --bs-info-rgb: 75, 166, 239;
    --bs-warning-rgb: 255, 191, 83;
    --bs-danger-rgb: 253, 98, 94;
    --bs-pink-rgb: 232, 62, 140;
    --bs-light-rgb: 233, 233, 239;
    --bs-dark-rgb: 52, 58, 64;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 73, 80, 87;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "IBM Plex Sans", sans-serif;
    --bs-font-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsl(0deg 0% 100% / 15%), hsl(0deg 0% 100% / 0%));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #495057;
    --bs-inverted-body-color: #fff;
    --bs-body-bg: #fff;
}
