.CardWidget {
    max-width: 340px;
    min-width: 300px;
}

.oderInformation {
    display: flex;
    flex-direction: column;
}

.textInfo {
    text-align: left;
    font-size: 24px;
}

.receiptProduct {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.textProductName {
    text-align: left;
    font-size: 10px;
    min-width: 220px;
}

.textProductQuantity {
    text-align: left;
    font-size: 10px;
    min-width: 30px;
}

.textProductSum {
    text-align: right;
    font-size: 10px;
    min-width: 60px;
}

@media (max-width: 360px) {
    .textProductName {
        min-width: 160px;
    }
}

.textSum {
    text-align: left;
    font-size: 18px;
    font-style: normal;
}

.textFullSum {
    font-size: 25px;
}

.fullSumBox {
    text-align: right;
}

.cardAllBlock {
    margin-top: 30px;
}

.imgLogo {
    width: 100%;
    height: 100%;
}

.logoPayment {
    display: flex;
    margin: 20px;
    padding-left: 20px;
}

.label {
    width: 100%;
    text-align: left;
    color: #7a7979;
}

.cardDataInfo {
    display: flex;
    flex-direction: row;
}

.cardInformation {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.cardInformationCvc {
    margin: 30px 15px;
    display: flex;
    flex-direction: row;
}

.cross {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
    color: #7a7979;
}

.cardExp {
    display: flex;
    flex-direction: row;
    max-width: 40%;
}

.secCardBlock {
    display: flex;
    flex-direction: row;
}

.firstCard {
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    z-index: 1;
}

.secCard {
    background-color: #eaedef;
    border-radius: 0 0 1rem 1rem;
    position: relative;
    bottom: 1em;
    z-index: 0;
}

.secCardInput {
    display: flex;
    flex-direction: row;
    max-width: 60px;
    max-height: 40px;
}

.textSec {
    color: #7a7979;
    text-align: left;
    padding-left: 20px;
}

.footerLogo {
    margin-top: 30px;
}

.footerLogoPayment {
    width: 100%;
    height: 100%;
}
