.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--bs-inv-gray-900);
    position: relative;
    transition: width 0.3s;
    border-right: 1px solid var(--bs-inv-gray-600);
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.minimal {
    width: var(--sidebar-width-collapsed);
}

.menu {
    padding-left: 20px;
    color: var(--bs-inv-gray-100);
}
