.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--bs-inv-gray-900);
    position: relative;
    transition: width 0.3s;
    border-right: 1px solid var(--bs-inv-gray-600);
}

.link {
    opacity: 1;
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 15px;
    margin-left: 20px;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.minimal {
    width: var(--sidebar-width-collapsed);

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        margin-left: 0;
    }

    .link {
        display: none;
        transition: 0.3s display;
        width: 0;
        height: 0;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}
