.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bs-inv-gray-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--bs-inv-gray-600);
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.dFlex {
    display: flex !important;
}

.loginButton {
    margin-left: 20px;
}
