.AppLink {
    color: var(--inverted-primary-color);
    text-decoration: none !important;
    border: none !important;
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}
